*.pyc
.DS_Store

vim-dir/bundle
vim-dir/view
tex.cache
.netrwhist

auto-commit.sh
git.log
*.info

repos
pkgs
progconfigs

clash*

# for neovim
.ropeproject
.ycm_extra_conf.py

# credential
gitconfig

rime/build
rime/sync
rime/*.userdb
