*.pyc
.DS_Store

public/vim-dir/bundle
public/vim-dir/view
tex.cache
.netrwhist

auto-commit.sh
git.log
*.info

repos
pkgs
utils/progconfigs

*/clash

# for neovim
.ropeproject
.ycm_extra_conf.py
*/neovim*/plugin

# credential
gitconfig

public/rime/build
public/rime/sync
public/rime/*.userdb
utils/wine/*.reg
utils/wine/*.exe
utils/wine/*.msi

# helix git clone
public/helix/helix
public/helix/runtime

lazy-lock.json
