UseKeychain yes

# set connection time to 1 day before close
#Host *
#    ClientAliveInterval 120
#    ClientAliveCountMax 720

## Obsolete TMC desktop B214
#Host tmcpcre
#    Hostname 10.105.27.30
#    User stevezhang
#    port 22
#    ProxyCommand ssh zhangmy@163.105.153.245 -W %h:%p %r

# TMC workstation TMC founder 313
# proxy not required
Host tmcws
    Hostname 222.29.156.110
    User zhangmy
    port 22
#    ProxyCommand ssh stevezhang@222.29.156.87 -W %h:%p %r
